.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
    
}

.footer-icons{
    display: flex;
    gap :50px;
    margin: 40px 0; 
    justify-content: center;
}

.footer-icons img{
    width: 30px;
    cursor: pointer;
}

.footer ul{
    font-size: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-bottom:30px ;
    list-style: none;
}

.copyright-text{
    color: gray;
    font-size: 14px;

}
